*{
    /* border: 1px solid black; */
    border-radius: 5px;
}


.header{
    min-height: 150px;
    text-align: center;
    background-image: -webkit-linear-gradient(green,rgb(134, 196, 134));
}


.center{
    min-height: 500px;
    background-image: -webkit-linear-gradient(orange,rgb(233, 201, 143));

}
.footer{
    min-height: 200px;
    background-image: -webkit-linear-gradient(rgb(74, 74, 233),rgb(131, 131, 233));

}